html{
    scroll-behavior: smooth;
}
main{
    margin: 1% 0;
}
a, a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}

* img{
    object-fit: cover;
    object-position: center;
}

* p {
    font-size: clamp(0.5em, 0.5em + 1vw, 1.5em);
}

* h1, * h2, * h3, * h4, * h5 {
    font-size: clamp(1.5em, 1.5em + 1vw, 2.5em);
}

iframe{
    width: 40vw;
    height: 40vw;
}

hr {
    color: #ffffff00; 
    border-color: #ffffff00; 
    height: 120px;
}

footer{
    text-align: end;
}

footer h1, footer h2, footer h3 {
    text-align: center;
}

.container{
    padding: 15vw;
}

.container-fluid {
    width: 100%;
    padding: 10vw 0;
}

.flexbox {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.fluid {
    width: 100%;
}
.double-image{
    width: 35%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image{
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.gradient-blue{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,75,173,1) 100%);
}

.card {
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    padding: 1px;
    background-color: #fff;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card h2, .card p {
    color: #AD00A1;
    text-align: center;
}

.card-image {
    width: 90%;
}

@media screen and (max-width: 768px) {
    * p {
        font-size: clamp(0.2em, 0.2em + 1vw, 1em);
    }
    
    * h1, * h2, * h3, * h4, * h5 {
        font-size: clamp(1em, 1em + 1vw, 1.5em);
    }
    iframe{
        width: 80vw;
        height: 80vw;
    }
    footer{
        text-align: start;
        font-size: calc(1vw + 1.5em);
    }
    
    footer h1, footer h2, footer h3 {
        text-align: center;
    }
    .image{
        width: 80%;
        margin: 10px;
        border-radius: 10px;
    }
    .card {
        width: 20vw;
        height: 35vw;
        border-radius: 5px;
        
        
    }
    .flexresponsivo {
        flex-direction: column;
    }

  }